body{
 background: #f2f2f2; 
 font-family: 'Roboto', sans-serif;
}

header .nav{
  min-height: 100px;
  overflow: hidden;
  background: #363636;
}

header .menu{
  min-height: 80px;
}

header .logo h2,
header .logo p{
  font-size: 16px;
  display: inline-block;
}

header .logo .icono img{
  max-height: 64px;
}

header .menu .c1{ background: #0077B6; }
header .menu .c2{ background: #023E8A; }
header .menu .c3{ background: #03045E; }

header .menu .c1:hover{ background: #00B4D8; }
header .menu .c2:hover{ background: #00B4D8; }
header .menu .c3:hover{ background: #00B4D8; }

/* M A I N */
/* Portfolio */
.portfolio{
  border-top: 5px solid #00B4D8;
  background: #fff;
}

.portfolio .title{
  color: #00B4D8;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.portfolio .gallery .container-img{
  max-height: 180px;
  overflow: hidden;
}

.portfolio .gallery .container-img a{
  background: #00B4D8;
  display: inline-block;
}

.portfolio .gallery .container-img:hover img{
  opacity: 0.5;
}

@media screen and (max-width: 768px){

}
  
@media screen and (max-width: 992px){
  .logo{
    height: 76px;
  }
  header .menu{
    min-height: 76px;
  }
  header .menu a{
    width: 100%;
  }

  .portfolio .gallery .container-img:nth-child(1){
    order: 1;
  }
  .portfolio .gallery .container-img:nth-child(2){
    order: 3;
  }
  .portfolio .gallery .container-img:nth-child(3){
    order: 6;
  }
  .portfolio .gallery .container-img:nth-child(4){
    order: 2;
  }
  .portfolio .gallery .container-img:nth-child(5){
    order: 5;
  }
  .portfolio .gallery .container-img:nth-child(6){
    order: 4;
  }
  .portfolio .gallery .container-img:nth-child(7){
    order: 7;
  }
}

.modal-dialog{
  max-width: 1000px;
}

/* ABOUT */
.about .photo .name-profile{
  color: #363636;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
}

.about .info .title{
  color: #00B4D8;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 30px;
}

.about .info .resume{
  letter-spacing: 1px;
}

.about .info .label{
  color: #00B4D8;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .info .progress{
  background: #363636;
}
.about .info .progress .progress-bar{ background: #00B4D8; }